.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
  }
  
  .article-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .article-title {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .article-description {
    font-size: 16px;
    text-align: justify;
  }
  
  .read-more-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  
  .read-more-button:hover {
    background-color: #0056b3;
  }